# Group pandas data by hour of day

In [27]:
import pandas as pd
import numpy as np

## Create data

In [28]:
periods = 2000

# Create time series of #periods every 5 minutes starting from 1/1/2000
time = pd.date_range('1/1/2000', periods=periods, freq="5min")

# Create pandas series of random value between 0 and 100 with time as index
series = pd.Series(np.random.randint(100, size=periods), index=time)

## View data

In [29]:
series.head() # could cast to pd.DataFrame but not necessary

2000-01-01 00:00:00    49
2000-01-01 00:05:00    33
2000-01-01 00:10:00    47
2000-01-01 00:15:00    47
2000-01-01 00:20:00    48
Freq: 5T, dtype: int64

## Group data by hour time of day

In [30]:
# Group data by index's hour and agg by taking mean
series.groupby(series.index.hour).mean()

0     50.714286
1     53.642857
2     48.238095
3     50.928571
4     51.404762
5     50.309524
6     51.404762
7     51.440476
8     47.678571
9     46.452381
10    52.797619
11    51.630952
12    49.035714
13    50.845238
14    45.452381
15    46.619048
16    51.440476
17    48.071429
18    49.619048
19    46.750000
20    46.523810
21    46.928571
22    47.812500
23    50.000000
dtype: float64