# Convert Pandas Categorical Data with LabelEncoder (Scikit-Learn)

From [chrisalbon.com](https://chrisalbon.com/machine_learning/preprocessing_structured_data/convert_pandas_categorical_column_into_integers_for_scikit-learn/)

It really helps for your understanding to think of `LabelEncoder` just like any other sklearn estimator. It has a `fit()` method and a `transform()` method.

## Imports

In [18]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

## Create  data

In [19]:
data = {'label': ['dog', 'cat', 'catdog', 'dog', 'catdog']}
df = pd.DataFrame(data, columns = ["label"])
df

    label
0     dog
1     cat
2  catdog
3     dog
4  catdog

## Initialise LabelEncoder

In [20]:
le = LabelEncoder()

## Fit LabelEncoder

In [21]:
le.fit(df['label'])

LabelEncoder()

## View labels

In [22]:
list(le.classes_)

['cat', 'catdog', 'dog']

## Transform label into number

In [23]:
le.transform(df['label'])

array([2, 0, 1, 2, 1])

## Transform number back into label

In [24]:
list(le.inverse_transform([0, 1, 2]))

['cat', 'catdog', 'dog']