# Drop rows with missing data

From [chrisalbon.com](https://chrisalbon.com/machine_learning/preprocessing_structured_data/delete_observations_with_missing_values/)

## Imports

In [2]:
import pandas as pd
import numpy as np

## Create  data

In [3]:
d = {'col1': [1, np.nan, 10, 14], 'col2': [3, 4, 5, np.nan]}
df = pd.DataFrame(d)
df

   col1  col2
0   1.0   3.0
1   NaN   4.0
2  10.0   5.0
3  14.0   NaN

In [9]:
mask = df.isnull().any(axis=1) # np.isnan(df) also works
df[~mask]

   col1  col2
0   1.0   3.0
2  10.0   5.0